.home-container {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.home-top-row {
    width: 100vw;
    height: 100vh;
    /* align-items: center;
    justify-content: center;
    display: flex; */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 7vh;
    padding-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-title {
    font-size: 68px;
    color: #fff;
    font-weight: bold;
}

.resilience-def-container {
    width: 70vw;
    display: flex;
    justify-content: center;
}

.resilience-def-container>h6 {
    color: #fff;
    font-size: 36px;
}